USE [master]
GO
/****** Object:  Database [CLOCKSTOREWEB]    Script Date: 11/9/2021 10:44:22 ******/
CREATE DATABASE [CLOCKSTOREWEB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CLOCKSTOREWEB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CLOCKSTOREWEB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CLOCKSTOREWEB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CLOCKSTOREWEB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CLOCKSTOREWEB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CLOCKSTOREWEB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/9/2021 10:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHDs]    Script Date: 11/9/2021 10:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHDs](
	[billId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[amount] [int] NOT NULL,
	[price] [bigint] NOT NULL,
	[img] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ChiTietHDs] PRIMARY KEY CLUSTERED 
(
	[billId] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 11/9/2021 10:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KHuser] [nvarchar](25) NOT NULL,
	[NVuser] [nvarchar](25) NULL,
	[phone] [nvarchar](max) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[date_receice] [datetime2](7) NULL,
	[date_order] [datetime2](7) NOT NULL,
	[total] [bigint] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_HoaDons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHangs]    Script Date: 11/9/2021 10:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHangs](
	[user] [nvarchar](25) NOT NULL,
	[password] [nvarchar](25) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](10) NOT NULL,
	[mail] [nvarchar](max) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[gender] [nvarchar](3) NOT NULL,
	[dateborn] [datetime2](7) NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_KhachHangs] PRIMARY KEY CLUSTERED 
(
	[user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KieuDays]    Script Date: 11/9/2021 10:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KieuDays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_KieuDays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KieuMays]    Script Date: 11/9/2021 10:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KieuMays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_KieuMays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiSanPhams]    Script Date: 11/9/2021 10:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPhams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LoaiSanPhams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NCCs]    Script Date: 11/9/2021 10:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCCs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](10) NOT NULL,
	[fax] [nvarchar](max) NULL,
 CONSTRAINT [PK_NCCs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 11/9/2021 10:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[user] [nvarchar](25) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](10) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[gender] [nvarchar](3) NOT NULL,
	[dateborn] [datetime2](7) NOT NULL,
	[quyenId] [int] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_NhanViens] PRIMARY KEY CLUSTERED 
(
	[user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Quyens]    Script Date: 11/9/2021 10:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[details] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Quyens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 11/9/2021 10:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LSPId] [int] NOT NULL,
	[brandId] [int] NOT NULL,
	[wireId] [int] NOT NULL,
	[machineId] [int] NOT NULL,
	[nccId] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[amount] [int] NOT NULL,
	[price] [int] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[img] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SanPhams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThuongHieus]    Script Date: 11/9/2021 10:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_ThuongHieus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_ChiTietHDs_productId]    Script Date: 11/9/2021 10:44:22 ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHDs_productId] ON [dbo].[ChiTietHDs]
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_HoaDons_KHuser]    Script Date: 11/9/2021 10:44:22 ******/
CREATE NONCLUSTERED INDEX [IX_HoaDons_KHuser] ON [dbo].[HoaDons]
(
	[KHuser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_HoaDons_NVuser]    Script Date: 11/9/2021 10:44:22 ******/
CREATE NONCLUSTERED INDEX [IX_HoaDons_NVuser] ON [dbo].[HoaDons]
(
	[NVuser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhanViens_quyenId]    Script Date: 11/9/2021 10:44:22 ******/
CREATE NONCLUSTERED INDEX [IX_NhanViens_quyenId] ON [dbo].[NhanViens]
(
	[quyenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhams_brandId]    Script Date: 11/9/2021 10:44:22 ******/
CREATE NONCLUSTERED INDEX [IX_SanPhams_brandId] ON [dbo].[SanPhams]
(
	[brandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhams_LSPId]    Script Date: 11/9/2021 10:44:22 ******/
CREATE NONCLUSTERED INDEX [IX_SanPhams_LSPId] ON [dbo].[SanPhams]
(
	[LSPId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhams_machineId]    Script Date: 11/9/2021 10:44:22 ******/
CREATE NONCLUSTERED INDEX [IX_SanPhams_machineId] ON [dbo].[SanPhams]
(
	[machineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhams_nccId]    Script Date: 11/9/2021 10:44:22 ******/
CREATE NONCLUSTERED INDEX [IX_SanPhams_nccId] ON [dbo].[SanPhams]
(
	[nccId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhams_wireId]    Script Date: 11/9/2021 10:44:22 ******/
CREATE NONCLUSTERED INDEX [IX_SanPhams_wireId] ON [dbo].[SanPhams]
(
	[wireId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHDs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDs_HoaDons_billId] FOREIGN KEY([billId])
REFERENCES [dbo].[HoaDons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHDs] CHECK CONSTRAINT [FK_ChiTietHDs_HoaDons_billId]
GO
ALTER TABLE [dbo].[ChiTietHDs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDs_SanPhams_productId] FOREIGN KEY([productId])
REFERENCES [dbo].[SanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHDs] CHECK CONSTRAINT [FK_ChiTietHDs_SanPhams_productId]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_KhachHangs_KHuser] FOREIGN KEY([KHuser])
REFERENCES [dbo].[KhachHangs] ([user])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_KhachHangs_KHuser]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_NhanViens_NVuser] FOREIGN KEY([NVuser])
REFERENCES [dbo].[NhanViens] ([user])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_NhanViens_NVuser]
GO
ALTER TABLE [dbo].[NhanViens]  WITH CHECK ADD  CONSTRAINT [FK_NhanViens_Quyens_quyenId] FOREIGN KEY([quyenId])
REFERENCES [dbo].[Quyens] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanViens] CHECK CONSTRAINT [FK_NhanViens_Quyens_quyenId]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_KieuDays_wireId] FOREIGN KEY([wireId])
REFERENCES [dbo].[KieuDays] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_KieuDays_wireId]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_KieuMays_machineId] FOREIGN KEY([machineId])
REFERENCES [dbo].[KieuMays] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_KieuMays_machineId]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_LoaiSanPhams_LSPId] FOREIGN KEY([LSPId])
REFERENCES [dbo].[LoaiSanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_LoaiSanPhams_LSPId]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_NCCs_nccId] FOREIGN KEY([nccId])
REFERENCES [dbo].[NCCs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_NCCs_nccId]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_ThuongHieus_brandId] FOREIGN KEY([brandId])
REFERENCES [dbo].[ThuongHieus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_ThuongHieus_brandId]
GO
USE [master]
GO
