.bg {
  background-color: #6c757d;
  /* background-color: #2a373b; */
  height: 100vh;
}

.form{
  margin-left: 25vw;
  margin-top: 15vh;
  width: 50vw;
  height: 70vh;
  border: 1px solid #dadada;
  padding: 10px;
  background-color: white;
}

.note{
  color: red!important;
}

.btn-login-admin {
  margin-left: 35%!important;
  width: 30%!important;
}

.mx-auto{
  margin-left: 39%!important;
  width: 30%;
}

.mx-auto legend {
  margin: auto;
  padding: 10px;
}